[submodule "programming/R_learning/Rprogramming/week2/Rprogramming/programming/R_learning/Rprogramming/week2/Rprogramming/wk2"]
	path = programming/R_learning/Rprogramming/week2/Rprogramming/programming/R_learning/Rprogramming/week2/Rprogramming/wk2
	url = https://github.com/shuwang425/datasciencecoursera.git
